[Unit]
Description=ttyd-f
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
RemainAfterExit=yes
RestartSec=1
User=root
ExecStart=/usr/local/bin/ttyd-f --writable -p 9998 -6 -O login
