KERNEL=="ttyACM*", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="614e", MODE:="0777", GROUP:="dialout",  SYMLINK+="Gemini_MCU"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="4d4c", ATTRS{idProduct}=="5543", RUN+="/usr/local/bin/FLY-Config can"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="606f", RUN+="/usr/local/bin/FLY-Config can"
